* {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  height: 100vh;
}

.container > div {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}
