* {
  padding: 0px;
  margin: 0px;
}

.first-ex {
  border: 1px solid green;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2px;
  place-items: center;
}

.first-ex > img {
  border: 1px solid green;
  height: 100px;
}

@media (max-width: 320px) {
  .first-ex {
    /* grid-template-columns: repeat(1, 1fr); */
    /* place-items: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .first-ex > img {
      width: 100px;
  }
}
