* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
}

.header {
  background-image: linear-gradient(
      to right bottom,
      rgba(144, 238, 144, 0.75),
      rgba(0, 128, 0, 0.75)
    ),
    url("../img/hero.jpg");
  height: 95vh;
  background-size: cover;
  /* position: relative; */
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 30px;
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
}

.heading-primary-main {
  display: block;
  letter-spacing: 1rem;
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 400;
}

.heading-primary-sub {
  display: block;
  letter-spacing: 10px;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 100;
}
